/* profile.css */

body {
  display: flex; /* Usar flexbox para el contenedor principal */
  justify-content: flex-start; /* Alinear a la izquierda */
  align-items: center; /* Centrar verticalmente */
  min-height: 100vh; /* Asegurarse de que ocupe toda la altura de la ventana */
  background-color: #f8fafc; /* Color de fondo gris claro */
  margin: 0; /* Eliminar margen predeterminado */
}

.card {
  width: 400px; /* Aumentar el ancho de la carta */
  height: 500px; /* Aumentar la altura de la carta */
  background: rgba(255, 182, 193, 0.8); /* Color rosa claro */
  border-radius: 30px; /* Esquinas redondeadas */
  position: relative; /* Necesario para la carta interior */
  overflow: hidden; /* Para ocultar el desbordamiento */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Suaviza transformaciones y sombras */
}

.card2 {
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  background-color: #ffcccb; /* Color rosado claro para la carta de atrás */
  border-radius: 30px; /* Esquinas redondeadas */
  transition: transform 0.3s ease-in-out; /* Suaviza la animación */
  display: flex; /* Flex para centrar el input */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.card:hover {
  transform: scale(
    1.05
  ); /* Aumentar más el tamaño de la carta al hacer hover */
  box-shadow: 0px 0px 80px 25px rgba(255, 105, 180, 0.8); /* Sombra rosada fuerte */
}

.card2:hover {
  transform: scale(0.95); /* Disminuir más al hacer hover */
}

.description-input {
  padding: 10px;
  width: 80%; /* Ajusta el tamaño según sea necesario */
  border-radius: 15px; /* Bordes redondeados */
  border: none; /* Sin borde */
  outline: none; /* Sin contorno al enfocarse */
  transition: border 0.3s ease-in-out; /* Suaviza el enfoque */
}

.description-input:focus {
  border: 2px solid rgba(255, 105, 180, 0.8); /* Borde rosado en enfoque */
}
